

html {
    background-color: rgba(135, 38, 66, 1.00);

}

body {
    /* background-color: #000000; */
    margin: 0;

    padding: 0px;

    min-height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    /*padding-bottom: 80px;*/

}

.art-image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #ffffff;
    border-top: 1px solid #333333;

    /* 안쪽 여백 */
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction:column;
    gap:10px;
}

.art-audioguide {
    width: auto;
    height: 13px;
}

.bottom-bar .sound {
    flex-grow: 1;
    /*margin-right: 15px;*/
    width: 80%;
    outline: none;
}

#scrollTopBtn {
    flex-shrink: 0;
    width: 50px;
    height: 50px;

    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

#scrollTopBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
